{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>개발자들 공지</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/dogdevelop.jpg' %}">

    <link rel="stylesheet" href="{% static 'css/Notice.css' %}">

    <script type="text/javascript" src="{% static 'js/Notice.js' %}"></script>
  </head>
  <body>
    <!--  접근 시 필요한 클래스 명

    ad 상단 광고창

    ntcNo 공지글의 번호 (몇 번째 글인가)
    noticeTitle 공지글의 제목
    ntcNick 작성자, ntcDate 작성일자

    pageNum 밑에 페이지 숫자

    cb1_1~3 콘텐츠 사이드 배너

    intro1~n 하나의 정보 블럭?

    -->

    <section id="main">
      <div class="intro1">
        <div class="ad">
          <img src="{% static 'img/adimg.png' %}" alt="">
        </div>
      </div>

      <div class="intro2">
        <div class="content">
          {% block content %}
          {% endblock content %}
        </div>

        <div class="contentBanner">

          <div class="cb1">
            <div class="cb1Img">
              <ul>
                <li class="cb1_1"><a target="_blank" href="https://www.notion.so/Python-5cf6d6da3f1e4195b8d2b4be6736ce22"><img src="{% static 'img/파이썬.png' %}" alt=""></a>파이썬 강의 자료</li>
                <li class="cb1_2"><a target="_blank" href="https://youtu.be/Jos_gkCP-4w"><img src="{% static 'img/워다타.jpg' %}" alt=""></a>워다타 알아보기</li>
                <li class="cb1_3"><a target="_blank" href="https://slack.com/intl/en-kr/"><img src="{% static 'img/슬랙.png'%}" alt=""></a>슬랙 바로가기</li>
              </ul>
            </div>
            <button class="cbLeft" onclick="contentBannerLeft()"><</button><button class="cbRight" onclick="contentBannerRight()">></button>
          </div>

          <div class="cb2">
            개발자들 알림
          </div>
        </div>

      </div>

      <div class="intro3">

      </div>
      <div class="intro4">
        <div class="introfooter">
          <footer id="footer">
            <fieldset class="infoForm">
              <a href="#">이용약관</a>
              <span class="bar">|</span>
              <a href="#"><strong>개인정보처리방침</strong></a>
              <span class="bar">|</span>
              <a href="#">고객센터</a>
            </fieldset>

            <div class="copyright">
              Copyright © SKHU <span>DogDevelop-Fish-bread-Team.</span> All right Reserved.
            </div>
          </footer>
        </div>
      </div>


    </section>


  </body>
</html>
